@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

*{
  margin: 0;
  border: 0;
  padding: 0
}

body{
  font-family: 'Raleway', sans-serif;
  font-weight:500;
  font-size: 22px;
}

#quote-box{
  background: #ffffff;
  margin: auto;
  text-align: center;
  padding: 50px;
  width: 450px;
  border: 0px solid black;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);

}

#text:before, #text:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
}



#author{
  text-align: right;
  padding: 20px 0 20px 0;
  font-weight: 400;
}

#text:before {
  content: '\201C';
  font-weight: bold;
  font-size: 60px;
}

.buttons{
  border: 0px #000000 solid;
  display: block;
}

.button{
  text-decoration: none;
  border-radius: 3px;
  opacity: 1;
  padding: 10px;
  border: 0px solid black;
  display: inline-block;
  margin: 0 10px 0 0;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.button:hover{
  opacity: 0.9;
}

.icon{
  float: left;
  width: 20px;
}

#new-quote{
  float: right;
}
